#Environment
.env
.env.*


#python
__pycache__/
*.py[cod]

#virtual environment
WRPvenv/
.venv/
env/

#django
db.sqlite3
db.sqlite3.backup
*.log

#static and media
staticfiles/
media/

#IDE
.vscode/
.idea/

#os
.DS_store
Thumbs.db


*.bundle