{% extends "main.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'style/champions.css' %}">
{% endblock %}

{% block content %}

    <div class="champions-container">
        <h1 class="page-title">لیست قهرمانان</h1>

        <div class="champions-grid">
            {% for champion in champs %}
            <a href="{% url 'ChampionPage' champion.slug %}" class="champion-card">
                <div class="card-image-wrapper">
                    {% if champion.image_url %}
                    <img src="{{ champion.image_url }}" alt="{{ champion.name }}" class="champion-img">
                    {% endif %}
                </div>
                <div class="champion-info-bar">
                    <div class="champion-info-bar__name">{{ champion.name }}</div>
                    <div class="champion-info-bar__roles">
                        {% for role in champion.roles.all %}{% if role.icon_url %}<img src="{{ role.icon_url }}" alt="{{ role.name }}"
                         class="role-icon" title="{{ role.name }}">{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </a>
            {% empty %}
                <p>هیچ قهرمانی یافت نشد</p>
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}


{% block extra_js %}
<script src="{% static 'js/fit-champion-names.js' %}"></script>
{% endblock %}