{% extends "main.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'style/home.css' %}">
{% endblock %}


{% block content %}

    <div class="introduce">
        <img src="https://play-lh.googleusercontent.com/7-kbcpgrCOE1mleJ9g0d61sJeoqKcQRIj4iFvJ8DjPlRIfocOWfOQsXzKWw2I5oHySVdbjR2fvzfCCz1FYQ-RQ=s512-rw"
        alt="Wild Rift Icon" class="introduce__img">
        <h1>League of Legends: Wild Rift | Parsi</h1>
    </div>

    <p class="introduce__desc">
        لیگ افسانه‌ها: وایلد ریفت (انگلیسی: League of Legends: Wild Rift) یک بازی ویدئویی میدان جنگ برخط چندنفره است که توسط رایت گیمز توسعه یافته و برای اندروید، آی‌اواس و برای کنسولها منتشر شده‌است. این بازی نسخه اصلاح شده بازی رایانه شخصی، لیگ افسانه‌ها است.
    </p>

    <div class="goto">
        <a href="{% url 'Champions' %}" class="btn">قهرمانان</a>
        <a href="{% url 'ItemsPage' %}" class="btn">آیتم ها</a>
        <a href="{% url 'Runes&SpellsPage' %}" class="btn">رون ها</a>
    </div>

{% endblock content %}