{% extends "main.html" %}


{% block content %}

    <div class="intorduce">

        <img src="" alt="">

        <h1>Wild Rift | Parsi</h1>
        <p>لیگ افسانه‌ها: وایلد ریفت (انگلیسی: League of Legends: Wild Rift) یک بازی ویدئویی میدان جنگ برخط چندنفره است که توسط رایت گیمز توسعه یافته و برای اندروید، آی‌اواس و برای کنسولها منتشر شده‌است. این بازی نسخه اصلاح شده بازی رایانه شخصی، لیگ افسانه‌ها است</p>

    </div>

    <div class="goto">
        <ul>
            <li>
                <button class="btn">قهرمانان</button>
                <button class="btn">آیتم ها</button>
                <button class="btn">رونز ها</button>
            </li>
        </ul>
    </div>

{% endblock content %}