<div class="build-node">

    {% if item.image_url %}
        <img src="{{ item.image_url }}" alt="{{ item.name }}" class="build-node__image">
    {% endif %}

</div>


{% with children=item.build_paths.all %}

    {% if children %}

        <div class="build-children">

            {% for build in children %}

                <div class="build-branch">

                    {% include "partials/build_node.html" with item=build.component %}

                </div>

            {% endfor %}

        </div>

    {% endif %}

{% endwith %}