<div class="item-card"
     hx-get="{% url 'ItemDetail' item.slug %}"
     hx-target="#item-modal-root"
     hx-swap="innerHTML"
     hx-trigger="click, keyup[key=='Enter']"
     role="button"
     tabindex="0"
     >
     <div class="item-card__image-wrapper">
        {% if item.image_url %}
            <img src="{{ item.image_url }}" alt="{{ item.name }}" class="item-card__img">
        {% endif %}
     </div>
     <div class="item-card__info">
        <span class="item-card__name">{{ item.name }}</span>
        {% if item.price %}<span class="item-card__price">{{ item.price }}G</span>{% endif %}
     </div>
</div>